:root {
    flex: 1;
    margin: 0px;
}
body {
    margin: 0px;
    height: 250vh;
}



.cont {
        flex: 1;
        margin: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1vh;

}

.main {
    flex:20;
    position: relative;
    display: flex;
    

}
.footer {
    position: relative;
    flex:4;
    display: flex;

}
