.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;


}
.spacer {
    flex: 1;
    display: flex;



}

.ad-container {
    flex: 15;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    width: 100vw;
    
}
.main-container {
    height: 60vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ad-image-container {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}
.image-container {
    flex: 6;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
 

}
.text-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-top: 0ch;
    padding-bottom: 1ch;
    
    
}
.text-container button {
    width: 35%;
    /*margin-left: 10%;*/
}
.segment-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}
.segment-container h1  {
    color: #023436;
    margin: none;
}
